JoTio-examples/NodeRed-IoTStarterKit/demo_flows_v_0.json
[
    {
        "id": "167c375.4963cc9",
        "type": "tab",
        "label": "JoTio_Request"
    },
    {
        "id": "8e67a454.e5a788",
        "type": "tab",
        "label": "JoTio_Response"
    },
    {
        "id": "3ef79f92.374f8",
        "type": "tab",
        "label": "JoTio_Visualization"
    },
    {
        "id": "2702858c.5d005a",
        "type": "tab",
        "label": "Operation mode"
    },
    {
        "id": "93d9adb6.c2923",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "45187783.cc3e78",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.25.3.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "e77f0499.e3c0c8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Helvetica Neue",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "Helvetica Neue"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3a002b3a.e98064",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.25.3.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "54fc5207.a1b28c",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "97819f04.5efb7",
        "type": "ui_group",
        "z": "",
        "name": "Light",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "22bf4c44.d16104",
        "type": "ui_group",
        "z": "",
        "name": "Potentiometer",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "38ec8823.7c6508",
        "type": "ui_group",
        "z": "",
        "name": "Relay",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "8289d81b.8aac48",
        "type": "ui_group",
        "z": "",
        "name": "Red LED",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "42b2472.a1d8fb8",
        "type": "ui_group",
        "z": "",
        "name": "Green LED",
        "tab": "",
        "disp": true,
        "width": "6"
    },
    {
        "id": "19e894ba.8f2feb",
        "type": "ui_group",
        "z": "",
        "name": "About JoTio ",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "7"
    },
    {
        "id": "78cc848b.68df9c",
        "type": "ui_group",
        "z": "",
        "name": "About as",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "7"
    },
    {
        "id": "88e60189.17c2c",
        "type": "ui_group",
        "z": "",
        "name": "IoT",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "7"
    },
    {
        "id": "a6407aa7.8d6a78",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#ed4136",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Prezentace 3",
                "default": "#4B7930",
                "baseColor": "#111111",
                "baseFont": "Helvetica Neue",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#ed4136",
                    "value": "#ed4136",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#0193f1",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#000000",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#015f87",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": true
                }
            }
        },
        "site": {
            "name": "JoTio DemoDay",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 0,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d16ebf9b.da36f",
        "type": "ui_group",
        "z": "",
        "name": "Our products",
        "tab": "",
        "order": 4,
        "disp": false,
        "width": "7"
    },
    {
        "id": "82e8eed8.eb514",
        "type": "ui_group",
        "z": "",
        "name": "Our current projects",
        "tab": "",
        "order": 5,
        "disp": false,
        "width": "7"
    },
    {
        "id": "7cb4899b.28a078",
        "type": "ui_group",
        "z": "",
        "name": "Microrisc",
        "tab": "",
        "order": 6,
        "disp": false,
        "width": "7"
    },
    {
        "id": "7c800af8.381604",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.25.3.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "e058a02d.ead75",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "52545a58.70a444",
        "type": "ui_group",
        "z": "",
        "name": "Light",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "7862104d.f9694",
        "type": "ui_group",
        "z": "",
        "name": "Potentiometer",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "927fbb25.f3cea8",
        "type": "ui_group",
        "z": "",
        "name": "Relay",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "2f0dbe51.8d55d2",
        "type": "ui_group",
        "z": "",
        "name": "Red LED",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "b354979.8684368",
        "type": "ui_group",
        "z": "",
        "name": "Green LED",
        "tab": "",
        "disp": true,
        "width": "6"
    },
    {
        "id": "93a52137.342b6",
        "type": "ui_group",
        "z": "",
        "name": "About JoTio ",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "7"
    },
    {
        "id": "c1910a47.aab058",
        "type": "ui_group",
        "z": "",
        "name": "About as",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "7"
    },
    {
        "id": "7c62335c.75e04c",
        "type": "ui_group",
        "z": "",
        "name": "IoT",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "7"
    },
    {
        "id": "5b4034bc.8dbc8c",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#ed4136",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Prezentace 3",
                "default": "#4B7930",
                "baseColor": "#111111",
                "baseFont": "Helvetica Neue",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#ed4136",
                    "value": "#ed4136",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#0193f1",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#000000",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#015f87",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": true
                }
            }
        },
        "site": {
            "name": "JoTio DemoDay",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 0,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b805bc4f.1907c",
        "type": "ui_group",
        "z": "",
        "name": "Our products",
        "tab": "",
        "order": 4,
        "disp": false,
        "width": "7"
    },
    {
        "id": "964e75b.56b8c88",
        "type": "ui_group",
        "z": "",
        "name": "Our current projects",
        "tab": "",
        "order": 5,
        "disp": false,
        "width": "7"
    },
    {
        "id": "53abe80a.f30de8",
        "type": "ui_group",
        "z": "",
        "name": "Microrisc",
        "tab": "",
        "order": 6,
        "disp": false,
        "width": "7"
    },
    {
        "id": "fe2de95e.3c21f8",
        "type": "websocket-client",
        "z": "",
        "path": "ws://iqrf.mybluemix.net/ws",
        "wholemsg": "false"
    },
    {
        "id": "f4dd0174.75497",
        "type": "websocket-client",
        "z": "",
        "path": "ws://sapinodered.eu-de.mybluemix.net/wsiqrf",
        "wholemsg": "false"
    },
    {
        "id": "fd7fcdf6.2f2a5",
        "type": "websocket-client",
        "z": "",
        "path": "ws://czu.eu-de.mybluemix.net/wsiqrfe",
        "wholemsg": "false"
    },
    {
        "id": "2c53bf38.ba1c4",
        "type": "websocket-client",
        "z": "",
        "path": "ws://czu.eu-de.mybluemix.net/wsiqrfback",
        "wholemsg": "false"
    },
    {
        "id": "68a04e22.327d1",
        "type": "websocket-listener",
        "z": "",
        "path": "ws://iqrf.mybluemix.net/wsiqrf",
        "wholemsg": "false"
    },
    {
        "id": "46ed3802.9973c8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.25.3.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "72b0b9d2.1fa568",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "dfbfa6c7.10aeb8",
        "type": "ui_group",
        "z": "",
        "name": "Light",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "b6550772.8c4e08",
        "type": "ui_group",
        "z": "",
        "name": "Potentiometer",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "acc7479e.07ae68",
        "type": "ui_group",
        "z": "",
        "name": "Relay",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "9de98b43.b7ab38",
        "type": "ui_group",
        "z": "",
        "name": "Red LED",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "17d7a24e.d09f8e",
        "type": "ui_group",
        "z": "",
        "name": "Green LED",
        "tab": "",
        "disp": true,
        "width": "6"
    },
    {
        "id": "c2721a90.2cb158",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "Helvetica Neue"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9ea06015.124c6",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.25.3.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "6af62058.3520a",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "50f79f0a.24e3",
        "type": "ui_group",
        "z": "",
        "name": "Light",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "e540b3f8.217bb",
        "type": "ui_group",
        "z": "",
        "name": "Potentiometer",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "583d787f.177f78",
        "type": "ui_group",
        "z": "",
        "name": "Relay",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "fb3ddd16.e75e4",
        "type": "ui_group",
        "z": "",
        "name": "Red LED",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "50efdd64.67ecf4",
        "type": "ui_group",
        "z": "",
        "name": "Green LED",
        "tab": "",
        "disp": true,
        "width": "6"
    },
    {
        "id": "78a0e1c4.dcf49",
        "type": "mqtt-broker",
        "z": "",
        "broker": "iot.eclipse.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "32889810.8166b8",
        "type": "ui_group",
        "z": "",
        "name": "Protronix Temperature",
        "tab": "",
        "disp": true,
        "width": "6"
    },
    {
        "id": "e54baae5.f4d9e8",
        "type": "websocket-client",
        "z": "",
        "path": "ws://iqrfaa.mybluemix.net/wsiqrfback",
        "wholemsg": "false"
    },
    {
        "id": "e9791584.67b7c8",
        "type": "websocket-client",
        "z": "",
        "path": "ws://iqrfdemo.mybluemix.net/wsiqrf1",
        "wholemsg": "false"
    },
    {
        "id": "daf761a9.12915",
        "type": "ui_group",
        "z": "",
        "name": "DATMO",
        "tab": "",
        "order": 13,
        "disp": true,
        "width": "6"
    },
    {
        "id": "2d3a958c.cbe38a",
        "type": "ui_group",
        "z": "",
        "name": "SE KIT Temperature",
        "tab": "ecb7daed.02c868",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "9b2610a8.1e2ac",
        "type": "ui_group",
        "z": "",
        "name": "SE KIT Light",
        "tab": "ecb7daed.02c868",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "915faf4a.09ddd",
        "type": "ui_group",
        "z": "",
        "name": "SE KIT Potentiometr",
        "tab": "ecb7daed.02c868",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "39bbcf84.35de4",
        "type": "ui_group",
        "z": "",
        "name": "Protronix Temperature",
        "tab": "ecb7daed.02c868",
        "order": 6,
        "disp": true,
        "width": "6"
    },
    {
        "id": "38fed32d.1f79ac",
        "type": "ui_group",
        "z": "",
        "name": "RE_KIT_01",
        "tab": "ecb7daed.02c868",
        "order": 11,
        "disp": true,
        "width": "6"
    },
    {
        "id": "cbde43aa.b037d",
        "type": "ui_group",
        "z": "",
        "name": "RE_KIT_02",
        "tab": "ecb7daed.02c868",
        "order": 10,
        "disp": true,
        "width": "6"
    },
    {
        "id": "3e3867b3.0cf668",
        "type": "ui_group",
        "z": "",
        "name": "NETIO",
        "tab": "ecb7daed.02c868",
        "order": 12,
        "disp": true,
        "width": "6"
    },
    {
        "id": "a426b6a1.b6cea8",
        "type": "ui_group",
        "z": "",
        "name": "DATMO",
        "tab": "ecb7daed.02c868",
        "order": 13,
        "disp": true,
        "width": "6"
    },
    {
        "id": "26e86d7c.90c3b2",
        "type": "ui_group",
        "z": "",
        "name": "Red_LED",
        "tab": "ecb7daed.02c868",
        "order": 9,
        "disp": true,
        "width": "6"
    },
    {
        "id": "140d2f8.6f708d1",
        "type": "ui_group",
        "z": "",
        "name": "Green_LED",
        "tab": "ecb7daed.02c868",
        "order": 8,
        "disp": true,
        "width": "6"
    },
    {
        "id": "7b15f0c4.1a99",
        "type": "ui_group",
        "z": "",
        "name": "Protronix Humidity",
        "tab": "ecb7daed.02c868",
        "order": 7,
        "disp": true,
        "width": "6"
    },
    {
        "id": "f44afb11.963ac8",
        "type": "ui_group",
        "z": "",
        "name": "Node Temperature",
        "tab": "ecb7daed.02c868",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ecb7daed.02c868",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "bdd6f26c.56887",
        "type": "ui_group",
        "name": "Group 7",
        "tab": "",
        "order": 7,
        "disp": true,
        "width": 6
    },
    {
        "id": "f1b26fb4.7a36e",
        "type": "websocket-client",
        "z": "",
        "path": "ws://iqrfaa.mybluemix.net/wsiqrf",
        "wholemsg": "false"
    },
    {
        "id": "c4887b12.c88c48",
        "type": "websocket-listener",
        "z": "",
        "path": "ws://iqrf.mybluemix.net/feedback",
        "wholemsg": "false"
    },
    {
        "id": "4f1aa012.c9084",
        "type": "websocket-client",
        "z": "",
        "path": "ws://iqrfaa.mybluemix.net/feedback",
        "wholemsg": "false"
    },
    {
        "id": "9dcfb9ec.018568",
        "type": "mqtt out",
        "z": "167c375.4963cc9",
        "name": "Gateway Request",
        "topic": "Iqrf/DpaRequest",
        "qos": "",
        "retain": "",
        "broker": "9ea06015.124c6",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "bcb7076.fd143f8",
        "type": "inject",
        "z": "2702858c.5d005a",
        "name": "Servisní mod",
        "topic": "",
        "payload": "{   \"ctype\": \"conf\",   \"type\": \"mode\",   \"cmd\": \"service\" }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "40bbe5af.23665c"
            ]
        ]
    },
    {
        "id": "e275671d.ec2218",
        "type": "inject",
        "z": "2702858c.5d005a",
        "name": "Standartní mod",
        "topic": "",
        "payload": "{   \"ctype\": \"conf\",   \"type\": \"mode\",   \"cmd\": \"operational\" }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "40bbe5af.23665c"
            ]
        ]
    },
    {
        "id": "8b0a6117.3b9bc",
        "type": "mqtt out",
        "z": "2702858c.5d005a",
        "name": "Gateway Request",
        "topic": "Iqrf/DpaRequest",
        "qos": "",
        "retain": "",
        "broker": "9ea06015.124c6",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "a61609eb.8f54d8",
        "type": "debug",
        "z": "2702858c.5d005a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "2c11a3e7.15459c",
        "type": "mqtt in",
        "z": "2702858c.5d005a",
        "name": "Gateway Response",
        "topic": "Iqrf/DpaResponse",
        "qos": "2",
        "broker": "9ea06015.124c6",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "2bb38749.9e53e8",
                "159c67df.5d3728"
            ]
        ]
    },
    {
        "id": "2bb38749.9e53e8",
        "type": "json",
        "z": "2702858c.5d005a",
        "name": "",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "c0d55982.bf0e48"
            ]
        ]
    },
    {
        "id": "c0d55982.bf0e48",
        "type": "debug",
        "z": "2702858c.5d005a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "40bbe5af.23665c",
        "type": "json",
        "z": "2702858c.5d005a",
        "name": "",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "a61609eb.8f54d8",
                "8b0a6117.3b9bc"
            ]
        ]
    },
    {
        "id": "159c67df.5d3728",
        "type": "debug",
        "z": "2702858c.5d005a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 410,
        "y": 380,
        "wires": []
    },
    {
        "id": "be1805f7.bafb38",
        "type": "inject",
        "z": "2702858c.5d005a",
        "name": "forward",
        "topic": "",
        "payload": "{   \"ctype\": \"conf\",   \"type\": \"mode\",   \"cmd\": \"forwarding\" }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "40bbe5af.23665c"
            ]
        ]
    },
    {
        "id": "3618f719.c9c468",
        "type": "comment",
        "z": "167c375.4963cc9",
        "name": "adresy iqrf site",
        "info": "IQRF DEV SENSOR     -- 1\nIQRF DEV RELAY      -- 2\nIQRF Protronix      -- 3\n",
        "x": 230,
        "y": 60,
        "wires": []
    },
    {
        "id": "f85e5c99.1bb64",
        "type": "function",
        "z": "167c375.4963cc9",
        "name": "Req sensor std",
        "func": "var data={\n    type: \"raw\",\n    request: {\n        nadr: \"0x0001\",\n        pnum: \"0x5E\",\n        pcmd: \"0x01\",\n        hwpid: \"0xFFFF\",\n        pdata: \"0xFFFFFFFF\",\n    },\n    timeout: 1000\n}\nmsg.payload=data;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "2eb31464.e8b9ac"
            ]
        ]
    },
    {
        "id": "db71e6f6.9c0188",
        "type": "inject",
        "z": "167c375.4963cc9",
        "name": "Senzor Kit 3s",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "f85e5c99.1bb64"
            ]
        ]
    },
    {
        "id": "2eb31464.e8b9ac",
        "type": "function",
        "z": "167c375.4963cc9",
        "name": "JSONtoIQRF",
        "func": "out = ('000'+Number(msg.payload.request.nadr).toString(16)).slice(-2);\nout += \".\"+(('000'+Number(msg.payload.request.nadr).toString(16)).slice(-4)).substr(0,2);\nout += \".\"+('0'+Number(msg.payload.request.pnum).toString(16)).slice(-2);\nout += \".\"+('0'+Number(msg.payload.request.pcmd).toString(16)).slice(-2);\nout += \".\"+('000'+Number(msg.payload.request.hwpid).toString(16)).slice(-2);\nout += \".\"+(('000'+Number(msg.payload.request.hwpid).toString(16)).slice(-4)).substr(0,2);\n\n\n\n\nif (typeof msg.payload.request.pdata !== 'undefined' && msg.payload.request.pdata !== null) \n{\n    // jsou pro nas data pdata !!!\n    // potreba zjistit delku stringu.\n    \n    len = msg.payload.request.pdata.length; \n    count = -len;\n    for(i=len;i>2;i=i-2)\n    {\n        count = count + 2;\n        out += \".\"+(('000'+Number(msg.payload.request.pdata).toString(16)).slice(count)).substr(0,2);\n    }\n    //msg.payload = count;\n    //return msg;\n}\n\nmsg.payload= {ctype:\"dpa\", type: msg.payload.type, request: out, timeout: msg.payload.timeout};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "e725870b.c48d58",
                "9dcfb9ec.018568"
            ]
        ]
    },
    {
        "id": "e725870b.c48d58",
        "type": "debug",
        "z": "167c375.4963cc9",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "2be1a4f9.9d532c",
        "type": "mqtt in",
        "z": "8e67a454.e5a788",
        "name": "Gateway Response",
        "topic": "Iqrf/DpaResponse",
        "qos": "2",
        "broker": "9ea06015.124c6",
        "x": 250,
        "y": 140,
        "wires": [
            [
                "b7a0087d.d12fa8"
            ]
        ]
    },
    {
        "id": "a5a44441.56c048",
        "type": "mqtt out",
        "z": "8e67a454.e5a788",
        "name": "Status",
        "topic": "Iqrf/DpaResponse",
        "qos": "",
        "retain": "",
        "broker": "9ea06015.124c6",
        "x": 910,
        "y": 1480,
        "wires": []
    },
    {
        "id": "b7a0087d.d12fa8",
        "type": "json",
        "z": "8e67a454.e5a788",
        "name": "",
        "x": 430,
        "y": 140,
        "wires": [
            [
                "a6103767.b4df78",
                "21e09ed3.942d02"
            ]
        ]
    },
    {
        "id": "bbd2c9a5.876118",
        "type": "function",
        "z": "8e67a454.e5a788",
        "name": "Get Temp",
        "func": "var res=msg.payload.response.pdata.split(\".\");\n\n\nparstemp1 =  parseInt(res[5],16);   //ff\nparstemp2 =  parseInt(res[4],16);   //d0\n\ntemp1 = parstemp1;\ntemp2 = parstemp2;\n\ntemp1 &= 0x7F;\ntemp2 &= 0xF0;\n\ntemp = (temp1<<4) + (temp2>>4);\n\ntemp2 =  parstemp2;\ntemp2 &= 0x0F;\n\ntemp2 *= 0.0625;\n\ntemp += temp2; \n\nif(((parstemp1 & 0x80)>>7) === 1)\n{\n    temp = 2048 - temp;\n    temp = -temp;\n}\nmsg.payload={\"KitTemp\":temp};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 360,
        "wires": [
            [
                "bb69b558.662a48"
            ]
        ]
    },
    {
        "id": "c47e8b7d.d33df8",
        "type": "function",
        "z": "8e67a454.e5a788",
        "name": "Get Potenciometer",
        "func": "var res=msg.payload.response.pdata.split(\".\");\nmsg.payload={\"KitPot\":parseInt(res[9],16)};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 520,
        "wires": [
            [
                "bb69b558.662a48"
            ]
        ]
    },
    {
        "id": "99c19f6.e505f6",
        "type": "function",
        "z": "8e67a454.e5a788",
        "name": "Get Light",
        "func": "var res=msg.payload.response.pdata.split(\".\");\nmsg.payload={\"KitLight\":parseInt(res[7],16)};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 440,
        "wires": [
            [
                "bb69b558.662a48"
            ]
        ]
    },
    {
        "id": "24794637.10233a",
        "type": "debug",
        "z": "8e67a454.e5a788",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 930,
        "y": 1440,
        "wires": []
    },
    {
        "id": "58bef37e.966f5c",
        "type": "inject",
        "z": "8e67a454.e5a788",
        "name": "",
        "topic": "",
        "payload": "Test",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 290,
        "y": 1580,
        "wires": [
            [
                "ca3acf70.aacaf"
            ]
        ]
    },
    {
        "id": "ca3acf70.aacaf",
        "type": "function",
        "z": "8e67a454.e5a788",
        "name": "Req Tst",
        "func": "var data={\n    request: {\n        nadr:  \"0x0001\",\n        pnum:  \"0x20\",\n        pcmd:  \"0xB1\",\n        hwpid: \"0x001E\",\n        err:   \"0x00\",\n        dpa:   \"0x67\",\n        pdata1: Math.floor((Math.random() * 30) + 1),\n        pdata2: Math.floor((Math.random() * 255) + 1),\n        pdata3: Math.floor((Math.random() * 255) + 1)\n    },\n}\nmsg.payload=data.request;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 1580,
        "wires": [
            [
                "c102ca9a.5132f8",
                "24794637.10233a"
            ]
        ]
    },
    {
        "id": "c102ca9a.5132f8",
        "type": "function",
        "z": "8e67a454.e5a788",
        "name": "JSONtoIQRF",
        "func": "out = ('000'+Number(msg.payload.nadr).toString(16)).slice(-2);\nout += \".\"+(('000'+Number(msg.payload.nadr).toString(16)).slice(-4)).substr(0,2);\nout += \".\"+('0'+Number(msg.payload.pnum).toString(16)).slice(-2);\nout += \".\"+('0'+Number(msg.payload.pcmd).toString(16)).slice(-2);\nout += \".\"+('000'+Number(msg.payload.hwpid).toString(16)).slice(-2);\nout += \".\"+(('000'+Number(msg.payload.hwpid).toString(16)).slice(-4)).substr(0,2);\n\nres = ('000'+Number(msg.payload.nadr).toString(16)).slice(-2);\nres += \".\"+(('000'+Number(msg.payload.nadr).toString(16)).slice(-4)).substr(0,2);\nres += \".\"+('0'+Number(msg.payload.pnum).toString(16)).slice(-2);\nres += \".\"+('0'+Number(msg.payload.pcmd).toString(16)).slice(-2);\nres += \".\"+('000'+Number(msg.payload.hwpid).toString(16)).slice(-2);\nres += \".\"+(('000'+Number(msg.payload.hwpid).toString(16)).slice(-4)).substr(0,2);\nres += \".\"+('0'+Number(msg.payload.err).toString(16)).slice(-2);\nres += \".\"+('0'+Number(msg.payload.dpa).toString(16)).slice(-2);\nres += \".\"+('0'+Number(msg.payload.pdata1).toString(16)).slice(-2);\nres += \".\"+('0'+Number(msg.payload.pdata2).toString(16)).slice(-2);\nres += \".\"+('0'+Number(msg.payload.pdata3).toString(16)).slice(-2);\n\n//res += ('00000'+Number(msg.payload.pdata).toString(16)).slice(-2)+\" \";\n//res += (('00000'+Number(msg.payload.pdata).toString(16)).slice(-4)).substr(0,2);\n//res += (('00000'+Number(msg.payload.pdata).toString(16)).slice(-4)).substr(0,2);\n\nmsg.payload= {ctype:\"dpa\", type: \"raw\", timeout: 0, request: out, response: res};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 1480,
        "wires": [
            [
                "a5a44441.56c048",
                "24794637.10233a"
            ]
        ]
    },
    {
        "id": "de0c540f.2d8fc8",
        "type": "switch",
        "z": "8e67a454.e5a788",
        "name": "PNUM ?",
        "property": "payload.response.pnum",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "94",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 380,
        "y": 400,
        "wires": [
            [
                "bbd2c9a5.876118",
                "99c19f6.e505f6",
                "c47e8b7d.d33df8",
                "f85f5935.62f108"
            ]
        ]
    },
    {
        "id": "a6103767.b4df78",
        "type": "function",
        "z": "8e67a454.e5a788",
        "name": "IQRFtoJSON",
        "func": "var response=msg.payload.response.split(\".\");\nvar request=msg.payload.request.split(\".\");\n\nvar data={\n    type: \"\",\n    request: {\n        nadr: \"\",\n        pnum: \"\",\n        pcmd: \"\",\n        hwpid: \"\"\n    },\n    response: {\n        nadr: \"\",\n        pnum: \"\",\n        pcmd: \"\",\n        hwpid: \"\",\n        errn: \"\",\n        dpa: \"\",\n        pdata: \"\",\n    },\n    timeout: \"\",\n    result: \"\",\n    time: new Date()\n}\n\n\ndata.type = msg.payload.type;\n\ndata.request.nadr=parseInt(request[0], 16) + (parseInt(request[1], 16)*256);\ndata.request.pnum=parseInt(request[2], 16);\ndata.request.pcmd=parseInt(request[3], 16);\ndata.request.hwpid=parseInt(request[4], 16) + (parseInt(request[5], 16)*256);\n\ndata.response.nadr=parseInt(response[0], 16) + (parseInt(response[1], 16)*256);\ndata.response.pnum=parseInt(response[2], 16);\ndata.response.pcmd=parseInt(response[3], 16);\ndata.response.hwpid=parseInt(response[4], 16) + (parseInt(response[5], 16)*256);\ndata.response.errn=parseInt(response[6], 16);\ndata.response.dpa=parseInt(response[7], 16);\ndata.response.pdata=msg.payload.response.slice(24).trim();\ndata.timeout=msg.payload.timeout;\ndata.result=msg.payload.result;\nmsg.payload=data;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 140,
        "wires": [
            [
                "f59820de.da953",
                "6b7e95f9.0b539c"
            ]
        ]
    },
    {
        "id": "f59820de.da953",
        "type": "debug",
        "z": "8e67a454.e5a788",
        "name": "parse",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "d1537af5.cbe268",
        "type": "function",
        "z": "167c375.4963cc9",
        "name": "STD binary output Relay1 kit 1",
        "func": "//---  04.00.4B.00.FF.FF.01.00.00.00.01\n\n// prijde adresa \n// prijde stav\n// prijde vystup cislo\nvar data={\n    type: \"raw\",\n    request: {\n        nadr: \"0x0002\",\n        pnum: \"0x4B\",\n        pcmd: \"0x00\",\n        hwpid: \"0xFFFF\",\n        pdata: \"0x0400000001\",\n    },\n    timeout: 1000\n}\n\nif(msg.payload == 1)\n{\n    data.request.pdata = \"0x0400000001\";\n}\nelse if(msg.payload == 0)\n{\n    data.request.pdata = \"0x0400000000\";\n}\n\nmsg.payload=data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 380,
        "wires": [
            [
                "31fdfa86.6fa9e6"
            ]
        ]
    },
    {
        "id": "7ff1c764.1b85b8",
        "type": "function",
        "z": "167c375.4963cc9",
        "name": "STD binary output Relay2 kit 1",
        "func": "//---  04.00.4B.00.FF.FF.01.00.00.00.01\n\n// prijde adresa \n// prijde stav\n// prijde vystup cislo\nvar data={\n    type: \"raw\",\n    request: {\n        nadr: \"0x0002\",\n        pnum: \"0x4B\",\n        pcmd: \"0x00\",\n        hwpid: \"0xFFFF\",\n        pdata: \"0x0800000001\",\n    },\n    timeout: 1000\n}\n\nif(msg.payload == 1)\n{\n    data.request.pdata = \"0x0800000001\";\n}\nelse if(msg.payload == 0)\n{\n    data.request.pdata = \"0x0800000000\";\n}\n\nmsg.payload=data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 520,
        "wires": [
            [
                "31fdfa86.6fa9e6"
            ]
        ]
    },
    {
        "id": "3c2322de.9a462e",
        "type": "inject",
        "z": "167c375.4963cc9",
        "name": "Switch 1 ON",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "d1537af5.cbe268"
            ]
        ]
    },
    {
        "id": "cd86dbde.9a98c8",
        "type": "inject",
        "z": "167c375.4963cc9",
        "name": "Switch 1 OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 530,
        "y": 420,
        "wires": [
            [
                "d1537af5.cbe268"
            ]
        ]
    },
    {
        "id": "f4678134.dc15f",
        "type": "inject",
        "z": "167c375.4963cc9",
        "name": "Switch 1 ON",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 530,
        "y": 480,
        "wires": [
            [
                "7ff1c764.1b85b8"
            ]
        ]
    },
    {
        "id": "9e3a7dcd.0efc3",
        "type": "inject",
        "z": "167c375.4963cc9",
        "name": "Switch 1 OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "7ff1c764.1b85b8"
            ]
        ]
    },
    {
        "id": "270aa904.15e1a6",
        "type": "function",
        "z": "167c375.4963cc9",
        "name": "STD binary output LED RED kit 3",
        "func": "//---  04.00.4B.00.FF.FF.01.00.00.00.01\n\n// prijde adresa \n// prijde stav\n// prijde vystup cislo\nvar data={\n    type: \"raw\",\n    request: {\n        nadr: \"0x0001\",\n        pnum: \"0x06\",\n        pcmd: \"0x01\",\n        hwpid: \"0xFFFF\",\n    },\n    timeout: 1000\n}\n\nif(msg.payload == 1)\n{\n    data.request.pcmd = \"0x01\";\n}\nelse if(msg.payload == 0)\n{\n    data.request.pcmd = \"0x00\";\n}\n\nmsg.payload=data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 700,
        "wires": [
            [
                "31fdfa86.6fa9e6"
            ]
        ]
    },
    {
        "id": "3a45bc1d.698f14",
        "type": "inject",
        "z": "167c375.4963cc9",
        "name": "Switch 1 ON",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 530,
        "y": 660,
        "wires": [
            [
                "270aa904.15e1a6"
            ]
        ]
    },
    {
        "id": "1e5731ea.b5ce1e",
        "type": "inject",
        "z": "167c375.4963cc9",
        "name": "Switch 1 OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 530,
        "y": 740,
        "wires": [
            [
                "270aa904.15e1a6"
            ]
        ]
    },
    {
        "id": "cc169dae.3a952",
        "type": "inject",
        "z": "167c375.4963cc9",
        "name": "CLOUD",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 550,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "9a466e25.d2c9c",
        "type": "function",
        "z": "167c375.4963cc9",
        "name": "STD binary output LED GREEN kit 3",
        "func": "//---  04.00.4B.00.FF.FF.01.00.00.00.01\n\n// prijde adresa \n// prijde stav\n// prijde vystup cislo\nvar data={\n    type: \"raw\",\n    request: {\n        nadr: \"0x0001\",\n        pnum: \"0x07\",\n        pcmd: \"0x01\",\n        hwpid: \"0xFFFF\",\n    },\n    timeout: 1000\n}\n\nif(msg.payload == 1)\n{\n    data.request.pcmd = \"0x01\";\n}\nelse if(msg.payload == 0)\n{\n    data.request.pcmd = \"0x00\";\n}\n\nmsg.payload=data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 880,
        "wires": [
            [
                "31fdfa86.6fa9e6"
            ]
        ]
    },
    {
        "id": "94a11a9c.107ab8",
        "type": "inject",
        "z": "167c375.4963cc9",
        "name": "Switch 1 ON",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 530,
        "y": 840,
        "wires": [
            [
                "9a466e25.d2c9c"
            ]
        ]
    },
    {
        "id": "f0591c6c.c000c",
        "type": "inject",
        "z": "167c375.4963cc9",
        "name": "Switch 1 OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 530,
        "y": 920,
        "wires": [
            [
                "9a466e25.d2c9c"
            ]
        ]
    },
    {
        "id": "80ac766.8f5e888",
        "type": "inject",
        "z": "167c375.4963cc9",
        "name": "CLOUD",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 550,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "fca54449.762a18",
        "type": "switch",
        "z": "8e67a454.e5a788",
        "name": "ADR",
        "property": "payload.response.nadr",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 230,
        "y": 560,
        "wires": [
            [
                "de0c540f.2d8fc8"
            ],
            []
        ]
    },
    {
        "id": "da031036.2234f",
        "type": "websocket in",
        "z": "167c375.4963cc9",
        "name": "Cloud",
        "server": "",
        "client": "e54baae5.f4d9e8",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "e81851f7.ffd6",
                "3cb243aa.bc3bdc"
            ]
        ]
    },
    {
        "id": "eb83ee22.bd9b7",
        "type": "switch",
        "z": "167c375.4963cc9",
        "name": "",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "setout1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setout2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "redled",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "greenled",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 5,
        "x": 310,
        "y": 600,
        "wires": [
            [
                "f2a43e1e.79c81"
            ],
            [
                "a7ecfec5.5712a"
            ],
            [
                "912cf747.926878"
            ],
            [
                "ebbf2dfa.5ae1b"
            ],
            []
        ]
    },
    {
        "id": "e81851f7.ffd6",
        "type": "json",
        "z": "167c375.4963cc9",
        "name": "",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "eb83ee22.bd9b7",
                "be3f7808.7503a8"
            ]
        ]
    },
    {
        "id": "f2a43e1e.79c81",
        "type": "function",
        "z": "167c375.4963cc9",
        "name": "convert",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "d1537af5.cbe268"
            ]
        ]
    },
    {
        "id": "a7ecfec5.5712a",
        "type": "function",
        "z": "167c375.4963cc9",
        "name": "convert",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 520,
        "wires": [
            [
                "7ff1c764.1b85b8"
            ]
        ]
    },
    {
        "id": "912cf747.926878",
        "type": "function",
        "z": "167c375.4963cc9",
        "name": "convert",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 700,
        "wires": [
            [
                "270aa904.15e1a6"
            ]
        ]
    },
    {
        "id": "ebbf2dfa.5ae1b",
        "type": "function",
        "z": "167c375.4963cc9",
        "name": "convert",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 880,
        "wires": [
            [
                "9a466e25.d2c9c"
            ]
        ]
    },
    {
        "id": "f85f5935.62f108",
        "type": "function",
        "z": "8e67a454.e5a788",
        "name": "Get Temp",
        "func": "var res=msg.payload.response.pdata.split(\".\");\n\n\nparstemp1 =  parseInt(res[2],16);   //ff\nparstemp2 =  parseInt(res[1],16);   //d0\n\ntemp1 = parstemp1;\ntemp2 = parstemp2;\nif(temp1 == 0xFF && temp2 == 0xFF)\n{\n    temp = \"NaN\";\n    msg.payload={\"KitNodeTemp\":temp};\n    return msg;\n}\n\ntemp1 &= 0x7F;\ntemp2 &= 0xF0;\n\ntemp = (temp1<<4) + (temp2>>4);\n\ntemp2 =  parstemp2;\ntemp2 &= 0x0F;\n\ntemp2 *= 0.0625;\n\ntemp += temp2; \n\nif(((parstemp1 & 0x80)>>7) === 1)\n{\n    temp = 2048 - temp;\n    temp = -temp;\n}\nif(temp == -2048)\n{\n    temp = \"NaN\";\n}\nmsg.payload={\"KitNodeTemp\":temp};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 280,
        "wires": [
            [
                "bb69b558.662a48"
            ]
        ]
    },
    {
        "id": "bb69b558.662a48",
        "type": "join",
        "z": "8e67a454.e5a788",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "timeout": "0.2",
        "count": "",
        "x": 810,
        "y": 400,
        "wires": [
            [
                "121b3f98.bf309",
                "f723942b.ebae88",
                "b744f6d5.781f28",
                "aa3cefe1.04201"
            ]
        ]
    },
    {
        "id": "121b3f98.bf309",
        "type": "debug",
        "z": "8e67a454.e5a788",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 990,
        "y": 600,
        "wires": []
    },
    {
        "id": "31fdfa86.6fa9e6",
        "type": "link out",
        "z": "167c375.4963cc9",
        "name": "ToGateway",
        "links": [
            "8513bcc3.03552"
        ],
        "x": 1000,
        "y": 640,
        "wires": []
    },
    {
        "id": "8513bcc3.03552",
        "type": "link in",
        "z": "167c375.4963cc9",
        "name": "ToGateway",
        "links": [
            "31fdfa86.6fa9e6"
        ],
        "x": 535,
        "y": 220,
        "wires": [
            [
                "2eb31464.e8b9ac"
            ]
        ]
    },
    {
        "id": "f75a32b5.61709",
        "type": "comment",
        "z": "167c375.4963cc9",
        "name": "--------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "a9d40db4.035d7",
        "type": "comment",
        "z": "3ef79f92.374f8",
        "name": "MeasureData",
        "info": "",
        "x": 130,
        "y": 260,
        "wires": []
    },
    {
        "id": "d715f24a.94655",
        "type": "ui_gauge",
        "z": "3ef79f92.374f8",
        "name": "Temperature_SE_KIT",
        "group": "2d3a958c.cbe38a",
        "order": 0,
        "width": "6",
        "height": "5",
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 640,
        "y": 480,
        "wires": []
    },
    {
        "id": "27d6660b.e50cea",
        "type": "ui_chart",
        "z": "3ef79f92.374f8",
        "name": "Temperature_SE_KIT",
        "group": "2d3a958c.cbe38a",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data",
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 640,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ad6bb0cd.46a59",
        "type": "function",
        "z": "3ef79f92.374f8",
        "name": "Get  S_KIT TempDS",
        "func": "msg.payload=msg.payload.KitTemp;\nif(msg.payload > -2000)\n{\n    msg.payload = Math.round(msg.payload * 10)/10;\n    return msg;\n}\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 500,
        "wires": [
            [
                "7ce57600.0ab21c",
                "27d6660b.e50cea",
                "d715f24a.94655"
            ]
        ]
    },
    {
        "id": "27e174cb.462d3c",
        "type": "function",
        "z": "3ef79f92.374f8",
        "name": "Get S_KIT Light",
        "func": "if (msg.payload.KitLight)\n{\n    msg.payload=8*(127-msg.payload.KitLight);\n   return msg;\n}\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 620,
        "wires": [
            [
                "f7c5a105.7d5a6",
                "e37135d8.f00e58",
                "1b7bb190.84ce8e"
            ]
        ]
    },
    {
        "id": "f7c5a105.7d5a6",
        "type": "ui_chart",
        "z": "3ef79f92.374f8",
        "name": "Light",
        "group": "9b2610a8.1e2ac",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data",
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 590,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2654a735.096108",
        "type": "function",
        "z": "3ef79f92.374f8",
        "name": "Get S_KIT Pot",
        "func": "msg.payload=msg.payload.KitPot;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 720,
        "wires": [
            [
                "a55d04f8.99f698",
                "6b737fca.2993c",
                "c6870a94.9ed018"
            ]
        ]
    },
    {
        "id": "a55d04f8.99f698",
        "type": "ui_gauge",
        "z": "3ef79f92.374f8",
        "name": "Potentiometer",
        "group": "915faf4a.09ddd",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "",
        "label": "Volume",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 700,
        "wires": []
    },
    {
        "id": "7ce57600.0ab21c",
        "type": "debug",
        "z": "3ef79f92.374f8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 810,
        "y": 500,
        "wires": []
    },
    {
        "id": "e37135d8.f00e58",
        "type": "debug",
        "z": "3ef79f92.374f8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 810,
        "y": 620,
        "wires": []
    },
    {
        "id": "6b737fca.2993c",
        "type": "debug",
        "z": "3ef79f92.374f8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 830,
        "y": 720,
        "wires": []
    },
    {
        "id": "a67a8c3a.b2aed",
        "type": "link in",
        "z": "3ef79f92.374f8",
        "name": "IqrfGraf",
        "links": [
            "f723942b.ebae88"
        ],
        "x": 186,
        "y": 298,
        "wires": [
            [
                "ad6bb0cd.46a59",
                "27e174cb.462d3c",
                "2654a735.096108",
                "4e210e3d.cbd61",
                "58d26425.4f37fc"
            ]
        ]
    },
    {
        "id": "bd9b8b0c.33a628",
        "type": "ui_button",
        "z": "3ef79f92.374f8",
        "name": "ON",
        "group": "38fed32d.1f79ac",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "setout1",
        "x": 410,
        "y": 820,
        "wires": [
            [
                "dd845a26.561888",
                "a316bdcc.d8715"
            ]
        ]
    },
    {
        "id": "37b113bd.849d9c",
        "type": "ui_button",
        "z": "3ef79f92.374f8",
        "name": "OFF",
        "group": "38fed32d.1f79ac",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "setout1",
        "x": 410,
        "y": 900,
        "wires": [
            [
                "dd845a26.561888",
                "a316bdcc.d8715"
            ]
        ]
    },
    {
        "id": "a316bdcc.d8715",
        "type": "ui_switch",
        "z": "3ef79f92.374f8",
        "name": "Switch 1",
        "label": "Switch",
        "group": "38fed32d.1f79ac",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "setout1",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 540,
        "y": 860,
        "wires": [
            [
                "dd845a26.561888"
            ]
        ]
    },
    {
        "id": "94b0d727.8bba48",
        "type": "comment",
        "z": "3ef79f92.374f8",
        "name": "IQRF",
        "info": "",
        "x": 830,
        "y": 980,
        "wires": []
    },
    {
        "id": "dd845a26.561888",
        "type": "function",
        "z": "3ef79f92.374f8",
        "name": "Set value",
        "func": "var data={\n    name:msg.topic,\n    command:msg.payload \n}\nmsg.payload=data;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 1060,
        "wires": [
            [
                "d8683c07.ae42f",
                "a506fc7c.c2099",
                "fa12a4a1.0edcd8"
            ]
        ]
    },
    {
        "id": "66fe9b79.af92f4",
        "type": "ui_button",
        "z": "3ef79f92.374f8",
        "name": "ON",
        "group": "cbde43aa.b037d",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "setout2",
        "x": 410,
        "y": 960,
        "wires": [
            [
                "dd845a26.561888",
                "5e33d797.dd78a8"
            ]
        ]
    },
    {
        "id": "14897a0d.08e656",
        "type": "ui_button",
        "z": "3ef79f92.374f8",
        "name": "OFF",
        "group": "cbde43aa.b037d",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "setout2",
        "x": 410,
        "y": 1040,
        "wires": [
            [
                "dd845a26.561888",
                "5e33d797.dd78a8"
            ]
        ]
    },
    {
        "id": "5e33d797.dd78a8",
        "type": "ui_switch",
        "z": "3ef79f92.374f8",
        "name": "Switch 2",
        "label": "Switch",
        "group": "cbde43aa.b037d",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "setout2",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 540,
        "y": 1000,
        "wires": [
            [
                "dd845a26.561888"
            ]
        ]
    },
    {
        "id": "764a3199.d567",
        "type": "ui_button",
        "z": "3ef79f92.374f8",
        "name": "ON",
        "group": "26e86d7c.90c3b2",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "redled",
        "x": 410,
        "y": 1200,
        "wires": [
            [
                "9e2e849.9a2c478",
                "dd845a26.561888"
            ]
        ]
    },
    {
        "id": "55de0779.afb768",
        "type": "ui_button",
        "z": "3ef79f92.374f8",
        "name": "OFF",
        "group": "26e86d7c.90c3b2",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "redled",
        "x": 410,
        "y": 1280,
        "wires": [
            [
                "9e2e849.9a2c478",
                "dd845a26.561888"
            ]
        ]
    },
    {
        "id": "9e2e849.9a2c478",
        "type": "ui_switch",
        "z": "3ef79f92.374f8",
        "name": "Red LED",
        "label": "Switch",
        "group": "26e86d7c.90c3b2",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "redled",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 540,
        "y": 1240,
        "wires": [
            [
                "dd845a26.561888"
            ]
        ]
    },
    {
        "id": "e3463d98.9adcb",
        "type": "ui_button",
        "z": "3ef79f92.374f8",
        "name": "ON",
        "group": "140d2f8.6f708d1",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "greenled",
        "x": 410,
        "y": 1080,
        "wires": [
            [
                "131625bc.92e47a",
                "dd845a26.561888"
            ]
        ]
    },
    {
        "id": "17839d76.adea83",
        "type": "ui_button",
        "z": "3ef79f92.374f8",
        "name": "OFF",
        "group": "140d2f8.6f708d1",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "greenled",
        "x": 410,
        "y": 1160,
        "wires": [
            [
                "131625bc.92e47a",
                "dd845a26.561888"
            ]
        ]
    },
    {
        "id": "131625bc.92e47a",
        "type": "ui_switch",
        "z": "3ef79f92.374f8",
        "name": "Green LED",
        "label": "Switch",
        "group": "140d2f8.6f708d1",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "greenled",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 550,
        "y": 1120,
        "wires": [
            [
                "dd845a26.561888"
            ]
        ]
    },
    {
        "id": "1b680c45.761594",
        "type": "ui_gauge",
        "z": "3ef79f92.374f8",
        "name": "Temperature_node",
        "group": "f44afb11.963ac8",
        "order": 0,
        "width": "6",
        "height": "5",
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "ada3b93a.c43ab8",
        "type": "ui_chart",
        "z": "3ef79f92.374f8",
        "name": "Temperature_node",
        "group": "f44afb11.963ac8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data",
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 630,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "60fe8b9e.cdbe54",
        "type": "debug",
        "z": "3ef79f92.374f8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 830,
        "y": 400,
        "wires": []
    },
    {
        "id": "58d26425.4f37fc",
        "type": "function",
        "z": "3ef79f92.374f8",
        "name": "Get S_KIT TempNode",
        "func": "msg.payload=msg.payload.KitNodeTemp;\nif(msg.payload > -2000)\n{\n    msg.payload = Math.round(msg.payload * 10)/10;\n    return msg;\n}\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "1b680c45.761594",
                "60fe8b9e.cdbe54",
                "ada3b93a.c43ab8"
            ]
        ]
    },
    {
        "id": "c6870a94.9ed018",
        "type": "ui_chart",
        "z": "3ef79f92.374f8",
        "name": "Potenciometr",
        "group": "915faf4a.09ddd",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data",
        "ymin": "0",
        "ymax": "127",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 610,
        "y": 740,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4e210e3d.cbd61",
        "type": "debug",
        "z": "3ef79f92.374f8",
        "name": "Complete data",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "1b7bb190.84ce8e",
        "type": "ui_gauge",
        "z": "3ef79f92.374f8",
        "name": "Light",
        "group": "9b2610a8.1e2ac",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "",
        "label": "lx",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "f723942b.ebae88",
        "type": "link out",
        "z": "8e67a454.e5a788",
        "name": "",
        "links": [
            "a67a8c3a.b2aed"
        ],
        "x": 955,
        "y": 560,
        "wires": []
    },
    {
        "id": "d8683c07.ae42f",
        "type": "debug",
        "z": "3ef79f92.374f8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 850,
        "y": 1060,
        "wires": []
    },
    {
        "id": "39a55ab8.556926",
        "type": "link in",
        "z": "167c375.4963cc9",
        "name": "Button",
        "links": [
            "a506fc7c.c2099"
        ],
        "x": 195,
        "y": 600,
        "wires": [
            [
                "eb83ee22.bd9b7"
            ]
        ]
    },
    {
        "id": "a506fc7c.c2099",
        "type": "link out",
        "z": "3ef79f92.374f8",
        "name": "",
        "links": [
            "39a55ab8.556926"
        ],
        "x": 795,
        "y": 1020,
        "wires": []
    },
    {
        "id": "b744f6d5.781f28",
        "type": "websocket out",
        "z": "8e67a454.e5a788",
        "name": "IBM Bluemix",
        "server": "",
        "client": "f1b26fb4.7a36e",
        "x": 1010,
        "y": 400,
        "wires": []
    },
    {
        "id": "21e09ed3.942d02",
        "type": "debug",
        "z": "8e67a454.e5a788",
        "name": "raw",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "6b7e95f9.0b539c",
        "type": "link out",
        "z": "8e67a454.e5a788",
        "name": "",
        "links": [
            "a233bf50.fc65c"
        ],
        "x": 715,
        "y": 140,
        "wires": []
    },
    {
        "id": "a233bf50.fc65c",
        "type": "link in",
        "z": "8e67a454.e5a788",
        "name": "ToParse",
        "links": [
            "6b7e95f9.0b539c"
        ],
        "x": 135,
        "y": 560,
        "wires": [
            [
                "fca54449.762a18"
            ]
        ]
    },
    {
        "id": "3ea17b6c.976eb4",
        "type": "comment",
        "z": "8e67a454.e5a788",
        "name": "--------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "aa3cefe1.04201",
        "type": "debug",
        "z": "8e67a454.e5a788",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1010,
        "y": 460,
        "wires": []
    },
    {
        "id": "3cb243aa.bc3bdc",
        "type": "debug",
        "z": "167c375.4963cc9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 350,
        "y": 300,
        "wires": []
    },
    {
        "id": "59312381.4143cc",
        "type": "link in",
        "z": "3ef79f92.374f8",
        "name": "feedback",
        "links": [
            "c3a292f9.3bf7c",
            "be3f7808.7503a8"
        ],
        "x": 95,
        "y": 1060,
        "wires": [
            [
                "1f69fa84.35f1c5"
            ]
        ]
    },
    {
        "id": "26e3218e.57160e",
        "type": "function",
        "z": "3ef79f92.374f8",
        "name": "ToNumber",
        "func": "msg.payload = Number(msg.payload.command)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 860,
        "wires": [
            [
                "a316bdcc.d8715"
            ]
        ]
    },
    {
        "id": "e1ab0dd1.c8a13",
        "type": "function",
        "z": "3ef79f92.374f8",
        "name": "ToNumber",
        "func": "msg.payload = Number(msg.payload.command)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 1000,
        "wires": [
            [
                "5e33d797.dd78a8"
            ]
        ]
    },
    {
        "id": "be3f7808.7503a8",
        "type": "link out",
        "z": "167c375.4963cc9",
        "name": "",
        "links": [
            "59312381.4143cc"
        ],
        "x": 275,
        "y": 540,
        "wires": []
    },
    {
        "id": "1f69fa84.35f1c5",
        "type": "switch",
        "z": "3ef79f92.374f8",
        "name": "",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "setout1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setout2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "redled",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "greenled",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 190,
        "y": 1060,
        "wires": [
            [
                "26e3218e.57160e"
            ],
            [
                "e1ab0dd1.c8a13"
            ],
            [
                "2015df78.e3fce"
            ],
            [
                "4d782cd9.d1adc4"
            ]
        ]
    },
    {
        "id": "2015df78.e3fce",
        "type": "function",
        "z": "3ef79f92.374f8",
        "name": "ToNumber",
        "func": "msg.payload = Number(msg.payload.command)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "4d782cd9.d1adc4",
        "type": "function",
        "z": "3ef79f92.374f8",
        "name": "ToNumber",
        "func": "msg.payload = Number(msg.payload.command)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "fa12a4a1.0edcd8",
        "type": "websocket out",
        "z": "3ef79f92.374f8",
        "name": "feedback to cloud",
        "server": "",
        "client": "4f1aa012.c9084",
        "x": 870,
        "y": 1100,
        "wires": []
    }
]
